body {
    position: relative;
    margin: 0;
    min-width: 100dvw;
    min-height: 100dvh;
    overflow: hidden;
}

canvas {
    display: block;
}

.brain {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: .5rem;
}
