body {
    position: relative;
    margin: 0;
    min-width: 100dvw;
    min-height: 100dvh;
    overflow: hidden;
}

canvas {
    display: block;
}
label {
    display: inline-block;
    width: 5rem;
}
input {
    display: inline-block;
    width: 12rem;
    box-sizing: border-box;
}
input.big {
    width: 100%;
}

.brain {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: .5rem;
}

.network {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: .5rem;
}
